@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles using the custom theme tokens (background, text, surface...) */
@layer base {
  body {
    @apply bg-background text-text;
    font-family: Inter, Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", Arial;
  }
}
