@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {
  body {
    @apply bg-dark-bg text-text-primary;
    font-family: Inter, Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", Arial;
  }
}
